code{
  white-space:pre-wrap;
}

#tb3_shadow {
float: left;
width: auto;
background: url(images/fuzzy_shadow.png) no-repeat bottom right;
}
#tb3_shadow div {
background: url(images/fuzzy_shadow1.png) no-repeat right top;
}
#tb3_shadow div a {
background: url(images/fuzzy_shadow2.png) no-repeat left bottom;
padding: 0 6px 6px 0;
display: block;
}
#tb3_shadow img {
background-color: #fff;
color: #000;
border: 1px solid #999;
padding: 4px;
vertical-align: bottom;
}

.page{
	border: 1px solid black;
	padding: 40px 60px 40px 60px;
	background-color: White;
	background-image: url(images/paper_bg.jpg);
	background-repeat: repeat-x;
	margin:4px 0px 4px 0px;
	line-height:200%;
}

.page_title{
	border-bottom: 1px solid black;
	text-align:right;
	color:black;
	margin-bottom:20px;
}

.doc_sort_1{
	padding-left: 5px;
	font-size: 11pt;
	font-weight: bolder;
}
.doc_sort_2{
	padding-left: 20px;
	font-size: 11pt;
}
.doc_sort_3{
	padding-left: 40px;
	font-size: 12px;
}
.doc_sort_4{
	padding-left: 60px;
	font-size: 11px;
}