.page_content dl,.page_content dt,.page_content dd,.page_content ul,.page_content ol,.page_content li,.page_content table th,.page_content table td {
	margin: 0;
	padding: 0;
}

.page_content p, .page_content div, .page_content dl,.page_content dt,.page_content dd,.page_content ul,.page_content ol,.page_content li{
	line-height:2;
  margin-bottom: 10px;
}

.page_content pre span,.page_content pre div{
	line-height:inherit;
  margin-bottom: 0px;
}

.page_content table {
	border-collapse: collapse;
	border-spacing: 0;
  border:1px solid rgb(176,176,176);
}
.page_content table td ,.page_content table th{
  padding: 1px 2px;
  border:1px solid rgb(176,176,176);
}


.page_content ul ,.page_content ul li ,.page_content  li ul li{
	list-style: disc outside none;
}
.page_content ol ,.page_content  ol li  ,.page_content  li ol li {
	list-style: decimal outside none;
}
.page_content li {
	margin-left: 2em;
	color:rgb(20,20,20);
}
.page_content li ul,.page_content  li ol {
	margin-bottom: 0;
}
.page_content table caption,.page_content table  th {
	text-align: left;
}
.page_content img {
  margin-bottom: 20px;
}

.page_content h1, .page_content h2, .page_content h3, .page_content h4, .page_content h5,.page_content h6 {
    margin: 24px 0px 12px 0px;
}