<{$bootstrap}>
<{$jquery}>
<{$toolbar}>
<link rel="stylesheet" type="text/css" media="screen" href="reset.css" />
<link rel="stylesheet" type="text/css" media="screen" href="module.css" />


<{$syntaxhighlighter_code}>

<table cellspacing="0" cellpadding="4" style="width:100%;">
  <tr>
  <td style="width:33%;" background="images/relink_bg.gif"><{$p}></td>
	<td background="images/relink_bg.gif" style="text-align:center;"><select onChange="window.location.href='page.php?tbdsn='+this.value"><{$doc_select}></select></td>
	<td background="images/relink_bg.gif" style="width:33%;text-align:right;"><{$n}></td>
  </tr>

  <tr>
    <td colspan=3>
      <div class="page">
        <div class="page_title"><a href="index.php?op=list_docs&tbsn=<{$tbsn}>"><{$book_title}></a></div>
        <div class="page_content">
        <h<{$doc_sort_level}>><{$doc_sort_main}> <{$title}></h<{$doc_sort_level}>>
        <{$content}>
        </div>
      </div>
    </td>
  </tr>

  <tr>
  <td style="width:33%;" background="images/relink_bg.gif"><{$p}></td>
	<td background="images/relink_bg.gif" style="text-align:center;"><select onChange="window.location.href='page.php?tbdsn='+this.value"><{$doc_select}></select></td>
	<td background="images/relink_bg.gif" style="width:33%;text-align:right;"><{$n}></td>
  </tr>
</table>

<div class="row-fluid">
  <div class="span6" style="text-align:left;vertical-align:bottom;">
    <a href="http://pdfmyurl.com/?url=<{$xoops_url}>/modules/tad_book3/pdf.php?tbdsn=<{$tbsn}>&-O=Portrait&-s=A4&-D=<{$smarty.const._CHARSET}>&--filename=BOOK<{$tbsn}>-<{$doc_sort_main}>.pdf"><img src="images/pdf.png"></a>
    <a href="<{$xoops_url}>/modules/tad_book3/tcpdf.php?tbdsn=<{$tbsn}>&filename=BOOK<{$tbsn}>-<{$doc_sort_main}>.pdf"><img src="images/tcpdf.png"></a>
    <a href="<{$xoops_url}>/modules/tad_book3/epub.php?tbdsn=<{$tbsn}>&filename=BOOK<{$tbsn}>-<{$doc_sort_main}>.pdf"><img src="images/epub.png"></a>
  </div>
  <div class="span6" style="text-align:right;vertical-align:bottom;">
    <{$push_url}>
  </div>
</div>
<{$facebook_comments}>


<p style="clear: both">
<div style="text-align: center; padding: 3px; margin: 3px;">
  <{$commentsnav}>
  <{$lang_notice}>
</div>

<div style="margin: 3px; padding: 3px;">
<!-- start comments loop -->
<{if $comment_mode == "flat"}>
  <{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
  <{include file="db:system_comments_thread.html"}>
<{elseif $comment_mode == "nest"}>
  <{include file="db:system_comments_nest.html"}>
<{/if}>
<!-- end comments loop -->
</div>
</p>
