<div class="container">
  <div id="save_msg"></div>
  <div class="row">
    <div class="col-md-3">
      <{$ztree_code}>
    </div>
    <div class="col-md-9">
      <{if $op=="tad_book3_cate_form"}>
        <h2><{$smarty.const._MA_TADBOOK3_CATE_FORM}></h2>

        <{$formValidator_code}>

        <form action="main.php" method="post" id="myForm" enctype="multipart/form-data" class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-md-2 control-label">
              <{$smarty.const._MA_TADBOOK3_CATE_TITLE}>
            </label>
            <div class="col-md-10">
              <input type="text" name="title" size="20" value="<{$title}>" id="title" class="validate[required] form-control">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">
              <{$smarty.const._MA_TADBOOK3_CATE_DESCRIPTION}>
            </label>
            <div class="col-md-10">
              <textarea  name="description" id="description" class="form-control"><{$description}></textarea>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-2 control-label">
            </label>
            <div class="col-md-10">
              <input type="hidden" name="tbcsn" value="<{$tbcsn}>">
              <input type="hidden" name="sort" value="<{$sort}>">
              <input type="hidden" name="op" value="<{$next_op}>">
              <button type="submit" class="btn btn-primary"><{$smarty.const._TAD_SAVE}></button>
            </div>
          </div>

        </form>
      <{else}>
        <div class="text-center">
          <a href="main.php?op=tad_book3_cate_form" class="btn btn-info"><{$smarty.const._TAD_ADD}></a>
        </div>
      <{/if}>
    </div>
  </div>
</div>