<{$bootstrap}>
<{$jquery}>
<{$toolbar}>
<link rel="stylesheet" type="text/css" media="screen" href="module.css" />

<{if $now_op=="tad_book3_form"}>
<div class="row-fluid">
  <h2><{$smarty.const._MD_INPUT_BOOK_FORM}></h2>
  <form action="<{$action}>" method="post" id="myForm" enctype="multipart/form-data" class="form-horizontal" role="form">

  <div class="control-group">
    <label class="span2 control-label"><{$smarty.const._MD_TADBOOK3_TBCSN_MENU}></label>
    <div class="span3 controls">
      <select name="tbcsn" size=1 class="span12">
        <{$cate_select}>
      </select>
    </div>
    <div class="span2 controls">
      <input type="text" name="new_tbcsn" class="span12" placeholder="<{$smarty.const._MD_TADBOOK3_NEW_PCSN}>">
    </div>
    <label class="span1 control-label">
      <{$smarty.const._MD_TADBOOK3_STATUS}>
    </label>
    <div class="span4 controls">
      <label class="radio inline">
        <input type="radio" name="enable" id="enable1" value="1" <{if $enable=="1"}>checked<{/if}>><{$smarty.const._MD_TADBOOK3_ENABLE}>
      </label>
      <label class="radio inline">
        <input type="radio" name="enable" id="enable0" value="0" <{if $enable=="0"}>checked<{/if}>><{$smarty.const._MD_TADBOOK3_UNABLE}>
      </label>
    </div>
  </div>

  <div class="row-fluid">
    <div class="control-group">
      <label class="span2 control-label">
        <{$smarty.const._MD_TADBOOK3_TITLE}>
      </label>
      <div class="span5">
        <input type="text" name="title" value="<{$title}>" class="span12" placeholder="<{$smarty.const._MD_TADBOOK3_TITLE}>">
      </div>

      <label class="span1 control-label">
        <{$smarty.const._MD_TADBOOK3_PIC_NAME}>
      </label>
      <div class="span4">
        <input type="file" name="pic_name"  class="span12" placeholder="<{$smarty.const._MD_TADBOOK3_PIC_NAME}>">
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <{$editor}>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <label><{$smarty.const._MD_TADBOOK3_AUTHOR}></label>
      <{$user_menu}>
    </div>
    <div class="span4">
      <label><{$smarty.const._MD_TADBOOK3_READ_GROUP}></label>
      <{$group_menu}>
    </div>
    <div class="span4">

      <div>
        <label class="span3"><{$smarty.const._MD_TADBOOK3_PASSWD}></label>
        <input type="text" name="passwd" class="span8" value="<{$passwd}>">
      </div>

      <div class="text-center">
        <input type="hidden" name="sort"  value="<{$sort}>">
        <input type="hidden" name="tbsn" value="<{$tbsn}>">
        <input type="hidden" name="op" value="<{$op}>">
        <button type="submit" class="btn btn-primary"><{$smarty.const._TAD_SAVE}></button>
      </div>
    </div>
  </div>
  </form>
</div>
<{elseif $now_op=="import_form"}>
  <div class="row-fluid">
    <h2><{$smarty.const._MD_INPUT_BOOK_FORM}></h2>
    <div class="alert alert-info">
      <{$upload_note}>
    </div>
    <form action="<{$action}>" method="post" id="myForm" enctype="multipart/form-data">

    <div class="row-fluid">

      <div class="span3">
        <label>
          <{$smarty.const._MD_TADBOOK3_TBCSN_MENU}>
        </label>
        <select name="tbcsn" size=1 class="span12">
          <{$cate_select}>
        </select>
        <input type="text" name="new_tbcsn" class="span12" placeholder="<{$smarty.const._MD_TADBOOK3_NEW_PCSN}>">
      </div>


      <div class="span3">
        <label><{$smarty.const._MD_TADBOOK3_AUTHOR}></label>
        <{$user_menu}>
      </div>
      <div class="span3">
        <label><{$smarty.const._MD_TADBOOK3_READ_GROUP}></label>
        <{$group_menu}>
      </div>
      <div class="span3">

        <label><{$smarty.const._MD_TADBOOK3_IMPORT1}></label>
        <input type="file" name="book" class="span12">
        <label><{$smarty.const._MD_TADBOOK3_IMPORT2}></label>
        <input type="file" name="docs" class="span12">
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <label class="checkbox">
          <input type="checkbox" name="abs_path" value="1" <{$checked}>>
          <{$new_path}>
        </label>

        <input type="hidden" name="tbsn" value="<{$tbsn}>">
        <input type="hidden" name="op" value="import_book">
        <button type="submit" class="btn btn-primary"><{$smarty.const._MD_TADBOOK3_IMPORT}></button>
      </div>
    </div>



    </form>
  </div>
<{elseif $now_op=="list_docs"}>
  <{if $my}>
    <{$sweet_alert_docs_code}>
  <{/if}>

  <div class="row-fluid">
    <div class="span3 text-center">
      <{if $book}>
        <{includeq file="db:tadbook3_book_shadow.html"}>
      <{/if}>
    </div>
    <div class="span9">
      <h3>
        <span class="label label-success"><{$cate}></span>
        <a href="admin/main.php?op=list_docs&tbsn=<{$tbsn}>"><{$title}></a>
      </h3>
      <div style="font-size:11px;"><{$smarty.const._MD_TADBOOK3_CREATE_DATE}> <{$create_date}></div>

      <{if $description}><div class="alert alert-info"><{$description}></div><{/if}>

      <div class="text-right">
        <{if $my}>
          <!--a href="index.php?op=tad_book3_export&tbsn=<{$tbsn}>" class="btn btn-mini btn-info"><{$smarty.const._MD_TADBOOK3_EXPORT}></a-->
        <{/if}>
        <{$push_url}>
      </div>
    </div>
  </div>

  <{if $docs}>
    <table class="table table-hover">
      <{foreach from=$docs item=doc}>
        <tr>

          <td>
            <span class="doc_sort_<{$doc.doc_sort_level}>">
              <{$doc.doc_sort_main}>
            </span>
            <{$doc.enable_txt}>
            <a href="<{$xoops_url}>/modules/tad_book3/page.php?tbdsn=<{$doc.tbdsn}>"><{$doc.title}></a>
          </td>

          <td style="font-size: 10px; color: gray; text-align: right;">
            <{$doc.count}>
            <i class="fa fa-user"></i>
            <{$doc.last_modify_date}>
          </td>

          <{if $my}>
            <td>
              <a href="javascript:delete_tad_book3_docs_func(<{$doc.tbdsn}>);" class="btn btn-mini btn-danger"><{$smarty.const._TAD_DEL}></a>
              <a href="<{$xoops_url}>/modules/tad_book3/post.php?op=tad_book3_docs_form&tbdsn=<{$doc.tbdsn}>" class="btn btn-mini btn-warning"><{$smarty.const._TAD_EDIT}></a>

              <{if $doc.enable=='1'}>
                <a href="<{$xoops_url}>/modules/tad_book3/index.php?op=change_enable&enable=0&tbdsn=<{$doc.tbdsn}>&tbsn=<{$tbsn}>" class="btn btn-mini"><{$smarty.const._TAD_UNABLE}></a>
              <{else}>
                <a href="<{$xoops_url}>/modules/tad_book3/post.php?op=change_enable&enable=1&tbdsn=<{$doc.tbdsn}>&tbsn=<{$tbsn}>" class="btn btn-mini btn-success"><{$smarty.const._TAD_ENABLE}></a>
              <{/if}>
            </td>
          <{/if}>

        </tr>
      <{/foreach}>
    </table>
  <{/if}>
<{else}>

  <{$jquery}>

  <div id="save_msg"></div>

  <script language="JavaScript">
    $().ready(function(){
      $("#books_sort").sortable({
        opacity: 0.6,
        cursor: "move",
        update: function() {
          var order = $(this).sortable("serialize") + "&action=updateRecordsListings";
          $.post("save_book_sort.php", order, function(theResponse){
            $("#save_msg").html(theResponse);
          });
        }
      });
    });
  </script>
  <{$sweet_alert_book_code}>

  <{foreach from=$cate item=cate}>
    <{if $cate.books}>
      <h1 style="color:#A0A0A0;margin-top:20px;font-size:24px;"><{$cate.title}></h1>
      <div style='margin-left:20px;' id='books_sort'>

      <{foreach from=$cate.books item=book}>
        <{if $book}>
          <{includeq file="db:tadbook3_book_shadow.html"}>
        <{/if}>
      <{/foreach}>
      </div><div style='clear:both;'></div>
    <{/if}>
  <{/foreach}>
<{/if}>
